h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 100%;
}

.perfil {
  width: 40%;
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
  color: #130101;
  background-color: #46b918;
}
.perfil__avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50em;
}
.perfil__nombre, .perfil__minibio h2 {
  text-align: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: rgba(19, 1, 1, 0.5);
}
.perfil__boton {
  color: #130101;
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding: 6px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  background-color: rgba(233, 212, 212, 0.5);
  border: 2px solid rgba(19, 1, 1, 0.3);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.perfil__minibio {
  margin: 0 auto;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
}
.estadistica--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 90px;
  -webkit-padding-before: 15px;
          padding-block-start: 15px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  color: #e9d4d4;
  background-color: #130101;
}
.estadistica--perfil h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica--perfil span {
  font-size: 12px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  width: 50%;
  height: 90px;
  margin: 30px auto 0 auto;
  padding: 20px 0 0 50px;
  background-color: #130101;
  color: #e9d4d4;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  color: #e9d4d4;
  background-color: #130101;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  font-size: 40px;
  color: #f7fb00;
}
.ubicacion--perfil h2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.ubicacion--perfil h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Oswald", sans-serif;
  color: rgba(233, 212, 212, 0.5);
}

.galeria {
  width: 70%;
  height: 250px;
  margin: 20px auto;
  padding: 20px 0 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  color: #e9d4d4;
  background-color: #130101;
}
.galeria__fotos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galeria__foto-pricipal {
  float: left;
  margin-right: 10px;
}
.galeria__fotos-adicionales img {
  height: 70px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.galeria h2 {
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.galeria img {
  border-radius: 10px;
}

.articulos {
  width: 50%;
  padding: 50px 0 0 50px;
}

.articulo {
  -webkit-margin-after: 75px;
          margin-block-end: 75px;
  -webkit-border-after: 3px solid #46b918;
          border-block-end: 3px solid #46b918;
}
.articulo__categoria {
  font-weight: 500;
  font-size: 16px;
  color: #46b918;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__titulo {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulo__descripcion {
  margin-bottom: 30px;
  padding-right: 100px;
}

@media (max-width: 720px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .perfil {
    width: 100%;
  }

  .aside {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .ubicacion--perfil {
    height: 110px;
  }

  .galeria {
    width: 90%;
  }
}