@media (max-width: 720px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    .aside{
        display: flex;
    }
    .ubicacion--perfil {
        height: 110px;
    }
    .galeria {
        width: 90%;
    }
}